APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=coconut
APPWRITE_API_FUNCTION_ID=coconut-api
APPWRITE_OPTIMIZER_FUNCTION_ID=coconut-optimizer
NEXT_PUBLIC_APPWRITE_API_FUNCTION_URL=
APPWRITE_API_FUNCTION_URL=
APPWRITE_OPTIMIZER_FUNCTION_URL=
OPENROUTESERVICE_API_KEY=
EASYPOST_API_KEY=
COMTRADE_API_KEY=
APP_BASE_URL=http://localhost:3000
DEMO_MODE=true
EXTERNAL_DATA_MODE=auto
